
name: istec_checkin
description: Check-in Digital para o ISTEC.
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  geolocator: ^10.1.0
  mobile_scanner: ^3.5.2
  intl: ^0.19.0
  shared_preferences: ^2.2.2
  lucide_icons: ^0.321.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
